<p class="text-center text-muted">&copy; Visual Trend Study Tool
Created by researchers at the Berkeley Institute of Design
Ace Chen, Isabel Li, Pradeep Saravana Rathnam, and Timothy Yang, and led by Shm Garanganao Almeda, Fall 2022</p>